.back-to-top-button {
    display: none; /* Initially hidden */
    position: fixed;
    bottom: 20px;
    z-index: 100;
    background-color: #ffffff;
    color: #100f24;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s;
  }
  
  .back-to-top-button:hover {
    background-color: #ffffff;
  }