.project-nav-button {
  background-color: #ffffff;
  border: none;
  border-radius: 0.1em;
  color: white;
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
  opacity: 0.5;
  transition: opacity 0.3s;
}

.project-nav-button:hover {
  opacity: 1;
}

#prev-project {
  left: calc((100vw - 100%) / 2 + 10px);
}

#next-project {
  right: calc((100vw - 60%) / 2 + 15px);
}

@media (max-width: 600px) {
  .project-nav-button {
      font-size: 18px;
      padding: 8px;
      opacity: 0.5;
  }

  #prev-project {
      left: 10px;
  }

  #next-project {
      right: 10px;
  }
}

