.recommendation-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.recommendation {
    width: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    transition: opacity 0.5s ease, transform 0.5s ease;
    position: absolute;
    top: 0;
    left: 0;
}

.recommendation.active {
    display: flex;
    opacity: 1;
    visibility: visible;
    position: relative;
}

.recommendation-header {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
}

.recommendation-avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 15px;
}

.recommendation-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.recommendations-panel {
    background-color: #ececec;
    border-radius: 5px;
    padding: 0px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    margin-bottom: 0px;
}

.recommendation h2 {
    font-size: 16px;
    margin: 0;
    color: #03a66b;
}

.recommendation h3 {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin: 0;
    color: grey;
}

.recommendation-date {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin: 3px 0px 0px;
    color: #03a66b;
}

.recommendation-quote {
    font-size: 14px;
    margin: 3px 0px 0px;
    color: grey;
    line-height: 1.5;
}

.recommendation-dots {
    display: flex;
    gap: 10px;
    margin-bottom: 0px;
}

.dot {
    height: 10px;
    width: 10px;
    background-color: #100f24;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.dot.active {
    background-color: #03a66b;
}

@media (max-width: 600px) {
    .recommendations-panel {
        padding: 0 0 0;
        align-items: flex-start;
    }

    .recommendation-content {
        position: relative;
        min-height: 0;
        padding-bottom: 0;
    }

    .recommendation {
        position: relative;
        width: 100%;
        display: none;
        flex-direction: column;
        opacity: 0;
        transition: opacity 0.5s ease;
        align-items: flex-start;
        text-align: left;
    }

    .recommendation.active {
        display: flex;
        opacity: 1;
    }

    .recommendation-header {
        margin-bottom: 4px;
    }

    .recommendation-avatar {
        width: 60px;
        height: 60px;
        margin-right: 10px;
    }

    .recommendation h2 {
        font-size: 16px;
    }

    .recommendation h3 {
        font-size: 14px;
    }

    .recommendation-date {
        font-size: 12px;
    }

    .recommendation-quote {
        font-size: 14px;
    }

    .recommendation-dots .dot {
        width: 8px;
        height: 8px;
    }
}


.recommendations-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
