/* Project Tags Container Styling */
.project-tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-top: 3px;
}

.software-tag {
  background-color: #ffffff;
  color: darkgray;
  padding: 0px 0px;
  border-radius: 0.25em;
  font-size: 14px;
  -webkit-user-select: none; /* Safari */
  user-select: none;
  white-space: nowrap; /* Prevent tags from breaking into multiple lines */
}