/* === ОБЩИЙ БЛОК С ИНФОЙ И АВАТАРОМ === */
.user-info-panel {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 колонки: текст (1–2), аватар (3) */
  grid-auto-rows: auto;
  column-gap: 20px;

  align-items: start;     /* элементы прижаты к верху */
  justify-items: start;   /* содержимое ячеек выравниваем влево */

  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
  
}




/* Ссылка-обёртка имени, на всякий случай оставляем */
.user-name-link {
  text-decoration: none;
  color: inherit;
}

.user-name-link:hover {
  color: #97b34e;
}

/* Ник */
.user-info-panel h1 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 0px;
  color: #97b34e;
  grid-column: 1 / 2;
}

.user-info-panel h2 {
  grid-column: 1 / 3;
}

/* === АВАТАР === */
.profile-pic {
  grid-column: 3 / 4;        /* строго третья колонка – над третьим столбцом thumbnails */
  grid-row: 1 / 5;           /* тянется по высоте блока с текстом */
  justify-self: center;

    width: 180px;
    height: 180px;
    object-fit: cover;   /* чтобы картинка не искажалась */
  border-radius: 50%;
  margin-bottom: 0;
}

/* === СОЦСЕТИ === */
.social-icons {
  display: flex;
  gap: 1rem;
  opacity: 1;
  transition: opacity 0.5s;
  margin-bottom: 50px;
  color: grey !important;

  grid-column: 1 / 2;        /* остаются в левом столбце */
}

.social-icons a {
  color: #100f24 !important;
  font-size: 24px;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #97b34e !important;
}

/* === ЛОКАЦИЯ === */
.user-location-container {
  display: flex;
  margin-top: 0px;
  align-items: center;
  gap: 5px;

  grid-column: 1 / 2;
}

.material-symbols-outlined {
  font-size: 1.2em;
  color: grey !important;
}

.user-location-container h2 {
  margin: 0;
}
